.search-container {
    margin: 16px;
    display: flex;
    justify-content: flex-end; /* Move o search para a direita */
    padding-right: 16px; /* Dá um pequeno espaço da borda direita */
  }
  .add-password {
    margin-left: auto;  /* Empurra o botão para a direita */
    display: flex;
    align-items: center;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    justify-content: center;
  }
  
  .example-card {
    width: 300px;
    background: #ffffff; /* Fundo branco */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* Sombra suave */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  .example-card:hover {
    transform: translateY(-4px); /* Elevação ao passar o mouse */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  }
  
  .example-header-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }

  .lock-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  mat-icon {
    font-size: 24px;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }

  .search-field {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 250px;
    padding: 8px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2); /* Linha sombreada */
    transition: border-color 0.3s ease-in-out;
  }
  
  .search-field input {
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    font-size: 16px;
    padding: 4px;
  }
  
  .search-field:focus-within {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5); /* Realce ao focar */
  }
  
  .search-icon {
    color: rgba(0, 0, 0, 0.5);
  }

  /* Alinha o título 'Passwords' em negrito */
.passwords-title {
    font-weight: bold; /* Torna o texto em negrito */
    font-size: 24px; /* Tamanho maior para destaque */
  }
  
/* Estilo para o botão 'Add' */
.add-password button {
    color: white; /* Texto branco por padrão */
    background-color: #45a049; /* Cor de fundo inicial */
    display: flex;
    align-items: center;
    gap: 8px; /* Espaçamento entre ícone e texto */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* O ícone e o texto do botão */
  .add-password button mat-icon {
    font-size: 20px; /* Tamanho do ícone */
  }
  
  /* Efeito de hover */
  .add-password button:hover {
    background-color: white;
    color: #45a049;
    transform: scale(1.05);
  }