<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <a mat-list-item (click)="selectComponent('home')">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
        <a mat-list-item (click)="selectComponent('passwords')">
          <mat-icon>lock</mat-icon>
          <span>Passwords</span>
        </a>

        <a mat-list-item (click)="selectComponent('passwords')">
            <mat-icon>folder</mat-icon>
            <span>Folder</span>
        </a>

        <a mat-list-item (click)="selectComponent('about')">
          <mat-icon>info</mat-icon>
          <span>About</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <div class="content">
        <ng-container [ngSwitch]="currentComponent">
          <app-password-component *ngSwitchCase="'passwords'"></app-password-component>
 
        </ng-container>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  